# Quiz 4

## Try to submit as an HTML file

<font size = "5">
Print your name below

In [ ]:
# Write your answer here:

<font size = "5" >
This quiz is open book 

- You can use the lecture notes
- You will get partial credit for attempting the questions
- To get full credit, the code should run as intended
- You should <span style="color:red"> NOT </span> communicate with other students

Write the following message as a comment: <br>

"I will abide by Emory's code of conduct"

In [ ]:
# Write your own code

In [ ]:
# Write your answer here:

import pandas as pd
from sqlalchemy import create_engine
from sqlalchemy.engine import URL
from sqlalchemy import text

<font size = "5">

Establish a connection to the SQL server and database ```postgres``` <br>
from Python as done in  class  using <br>
```URL()``` and ```create_engine()```<br>
As we are are in the default database, <br>
you can leave out the database argument.

Note: You may have to change some of the login details <br>
depending on your computer

In [ ]:
# Write your answer here:

url_server = URL.create(
    "postgresql",
    host = 'localhost',
    username = 'postgres',
    port = 5432,
    password  = '12345')
connection = create_engine(url_server)


<font size = "5">

(a) Upload dataset to SQL


<font size = "3">

- Read the files ```brand_info.csv``` and ```cars.csv``` in the ```data_raw``` folder
- Upload both files to your local SQL server using the <br>
"to_sql" command. Call the new datasets ```brand_info``` and ```cars```, respectively <br>
 in the server

In [ ]:
# Write your answer here:


<font size = "5">

For questions (b)-(f) we will be working with the tables <br>
``` cars ``` and ``` brands ``` in the SQL server. You are required to use <br>
the ```read_sql``` command for all the following questions.


<font size = "5">

(b) Subset and sort

<font size = "3">

Run a query using ```pd.read_sql()```

- Use ```WHERE``` to get a subset of "cars" to subset <br>
cars whose brand is ```'Honda'```
- Chain this with ```ORDER BY price ASC``` to sort in <br>
ascending order <br>

HINTS:
- Remember to include a  ```\```  to be able to define strings over multiple lines
- We can include single quotations in the WHERE command without any <br>
additional escape characters

In [ ]:
# Write your answer here:

<font size = "5">

(c) Groupby + Aggregate + Sort

<font size = "3">

Run a query using ```pd.read_sql()```

- From ```cars```, obtain the average of "weight" by "brand" using ```GROUP BY```
- Use ```ORDER BY ``` to sort by the average of "weight"
- You can break down your code into separate lines with a ```\``` <br>
to make it easy to read.

In [ ]:
# Write your answer here:

<font size = "5">

(d) Groupby + Aggregate + Sort

<font size = "3">

Run a query using ```pd.read_sql()```

- From ```cars``` obtain the average of "headroom" by brand using ```GROUP BY```
- Use ```HAVING ``` to filter brands with an <br>
average headroom strictly higher than 3
- You can break down your code into separate lines with a ```\``` <br>
to make it easy to read.

HINT: Use ```HAVING AVG(headroom)``` rather than an alias <br>
for the code to work correctly.

In [ ]:
# Write your answer here:

<font size = "5">

(e) Groupby and multiple aggregations

<font size = "3">

Run a query using ```pd.read_sql()```

-  From ```cars```, obtain the average, min, and max of each brand's weight using ```GROUP BY```
- You can break down your code into separate lines with a ```\``` <br>
to make it easy to read.

In [ ]:
# Write your answer here:

<font size = "5">

(f) Filter then Aggregate

<font size = "3">


Run a query using ```pd.read_sql()```

- From ```cars```, filter cars that are from the brand 'Audi' using WHERE
- Obtain the average of headroom (you should only be reporting one number)
- You can break down your code into separate lines with a ```\``` <br>
to make it easy to read.

HINT: Use single quotations inside ```text("      ")``` to <br>
filter by ```'Audi'```

In [ ]:
# Write your answer here: